<div class="w-full px-4">
  <div class="w-full shadow-4 border-round-xl mt-4">
    <div class="w-full header bg-primary-hyd py-3 border-round-top-xl color-blanco flex justify-content-between px-4">
      <span class="text-4xl font-bold">Gestionar Clientes</span>
      <i class="pi pi-plus text-4xl cursor-pointer" (click)="showModalCrear()"></i>
    </div>
    <div class="px-4 mt-4">
      <div class="flex justify-content-between">
        <span class="text-xl font-bold">Filtros</span>
      </div>
      <form [formGroup]="filterForm" class="grid grid-nogutter mt-4 col-12">
        <div class="flex col-6 gap-4">
          <div>
            <label for="float-input" class="mr-2">Cedula</label>
            <input id="float-input" type="text" maxlength="20" pKeyFilter="money"  pInputText formControlName="identification"/>
          </div>
          <div>
            <label for="float-input" class="mr-2">Nombres</label>
            <input id="float-input" type="text" maxlength="30" pInputText formControlName="firstName"/>
          </div>
          <div>
            <label for="float-input" class="mr-2">Apellidos</label>
            <input id="float-input" type="text"  maxlength="30" pInputText formControlName="lastName"/>
          </div>
        </div>
        <div class="flex col-6 gap-4 justify-content-end mt-4">
          <p-button label="Limpiar" (click)="filterForm.reset()"></p-button>
          <p-button label="Filtrar" (click)="filterCliente()"></p-button>
        </div>
      </form>
      <div class="my-4 w-full">
        <p-table [value]="clientes" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"  [style]="{width:'100%'}"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}"
          [rowsPerPageOptions]="[10, 25, 50]">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Cedula</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Correo</th>
              <th scope="col">Celular</th>
              <th scope="col">Usuario</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-cliente>
            <tr>
              <td>{{ cliente.identification }}</td>
              <td>{{ cliente.firstName | uppercase }}</td>
              <td>{{ cliente.lastName  | uppercase}}</td>
              <td>{{ cliente.email | uppercase }}</td>
              <td>{{ cliente.phone }}</td>
              <td>{{ cliente.user.username | uppercase }}</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr *ngIf="hasFirstFilter">
              <td [attr.colspan]="6">No hay registros</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


<p-dialog header="Nuevo cliente" [(visible)]="showModal" [modal]="true" [style]="{ width: '40vw', padding: '0px' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="clienteForm" class="grid w-full mt-2" errorTailor>
    <div class="w-full px-4">
      <div class="mt-2">
        <label for="identification" class="pb-2">Cedula</label>
        <input id="identification" maxlength="20" type="text" pInputText pKeyFilter="money" formControlName="identification" class="w-full"/>
      </div>
      <div class="mt-2">
        <label for="firstName" class="pb-2">Nombres</label>
        <input id="firstName" maxlength="30" type="text" pInputText formControlName="firstName" class="w-full"/>
      </div>
      <div class="mt-2">
        <label for="lastName" class="pb-2">Apellidos</label>
        <input id="lastName" maxlength="30" type="text" pInputText formControlName="lastName" class="w-full"/>
      </div>
      <div class="mt-4">
        <label for="email" class="pb-2">Correo</label>
        <input id="email" maxlength="40" type="email" pInputText  formControlName="email" class="w-full" />
      </div>
      <div class="mt-2">
        <label for="phone" class="pb-2">Celular</label>
        <input id="phone" type="text" maxlength="10" pKeyFilter="money" pInputText formControlName="phone" class="w-full"/>
      </div>
      <div class="mt-2">
        <label for="username" class="pb-2">Usuario</label>
        <input id="username" maxlength="30" type="text" pInputText formControlName="username" class="w-full"/>
      </div>
      <div class="mt-2">
        <label for="password" class="pb-2">Contraseña</label>
        <input id="password" type="password" pInputText formControlName="password" class="w-full"/>
      </div>
      <div class="mt-2">
        <label for="confirmPassword" class="pb-2">Confirmar Contraseña</label>
        <input id="confirmPassword" type="password" pInputText formControlName="confirmPassword" class="w-full"/>
      </div>
      <div *ngIf="clienteForm.get('confirmPassword')?.errors?.['mismatch']" class="text-red-500">
        Las contraseñas no coinciden.
      </div>
      <div class="mt-4 w-full text-center">
        <button class="btn-filtros px-4 py-2" [ngClass]="clienteForm.invalid ? 'opacity-60' : ''" (click)="saveCliente()" [disabled]="clienteForm.invalid"><span class="font-bold">Registrar</span></button>
      </div>
    </div>
  </form>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="cd.accept()"></button>
</ng-template>
</p-confirmDialog>

