<div class="w-full px-4">
  <div class="w-full shadow-4 border-round-xl mt-4">
    <div class="w-full header bg-primary-hyd py-3 border-round-top-xl color-blanco flex justify-content-between px-4">
      <span class="text-4xl font-bold">Gestionar Reservas</span>
      <i class="pi pi-plus text-4xl cursor-pointer" (click)="crearReserva()"></i>
    </div>
    <div class="px-4 mt-4">
      <div class="flex justify-content-between">
        <span class="text-xl font-bold">Filtros</span>
      </div>
      <form [formGroup]="filterForm" class="grid grid-nogutter mt-4 col-12">
        <div class="flex col-8 gap-4">
          <div class="col-4">
              <label for="reservationDate" class="mr-2">Fecha</label>
              <p-calendar formControlName="reservationDate" [showIcon]="true" dateFormat="dd/mm/yy" [readonlyInput]="true"></p-calendar>
          </div>
          <div class="col-4">
            <label for="customer" class="mr-2">Cliente</label>
            <p-dropdown id="customer" formControlName="customer" styleClass="w-full" [options]="clientes" optionLabel="firstName" optionValue="id" [filter]="true" filterBy="identification,firstName"
              placeholder="Seleccione">
              <ng-template let-item pTemplate="selectedItem">
                  <span>{{ item.identification }} {{ item.firstName }} {{ item.lastName }}</span>
              </ng-template>
              <ng-template let-item pTemplate="item">
                <span>{{ item.identification }} {{ item.firstName }} {{ item.lastName }}</span>
              </ng-template>
            </p-dropdown>
          </div>
          <div class="col-4">
            <label for="service" class="mr-2">Servicio</label>
            <p-dropdown id="service" styleClass="w-full" formControlName="service" [options]="servicios" optionLabel="name" optionValue="id" [filter]="true" filterBy="name"
              placeholder="Seleccione">
            </p-dropdown>
          </div>
        </div>
        <div class="flex col-4 gap-4 justify-content-end mt-4">
          <p-button label="Limpiar" (click)="filterForm.reset()"></p-button>
          <p-button label="Filtrar" (click)="filterReserva()"></p-button>
        </div>
      </form>
      <div class="my-4 w-full">
        <p-table [value]="reservas" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
          [tableStyle]="{ 'min-width': '50rem' }"  [style]="{width:'100%'}"
          currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}"
          [rowsPerPageOptions]="[10, 25, 50]">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Cedula</th>
              <th scope="col">Cliente</th>
              <th scope="col">Celular</th>
              <th scope="col">Servicio</th>
              <th scope="col">Precio</th>
              <th scope="col">Fecha Inicio Reserva</th>
              <th scope="col">Fecha Fin Reserva</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-reserva>
            <tr>
              <td>{{ reserva.reservationDate }}</td>
              <td>{{ reserva.customer.identification }}</td>
              <td>{{ reserva.customer.firstName }} {{ reserva.customer.lastName }}</td>
              <td>{{ reserva.customer.phone }}</td>
              <td>{{ reserva.service.name }}</td>
              <td>{{ reserva.service.price | number:'1.2-2' }}</td>
              <td>{{ reserva.starDate }}</td>
              <td>{{ reserva.endDate }}</td>
              <td [ngClass]="{
                'cancelado': reserva.state === 'CANCELADA',
                'reservada': reserva.state === 'RESERVADO',
              }">
            {{ reserva.state }}
          </td>
              <td>
                <div class="flex row-column">
                  <p-button icon="pi pi-trash"  [rounded]="true" [text]="true" severity="danger" (click)="eliminar(reserva.id)"></p-button>
                  <p-button icon="pi pi-file-edit" [rounded]="true" [text]="true" severity="warning" (click)="editarReserva(reserva,'EDITAR')"></p-button>
                  <p-button *ngIf="reserva.state === 'RESERVADO'" icon="pi pi-times-circle" [rounded]="true" [text]="true" severity="danger" (click)="cancelarReserva(reserva.id)"></p-button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr *ngIf="hasFirstFilter">
              <td [attr.colspan]="9">No hay registros</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>


<p-dialog [header]="modo == 'CREAR' ? 'Nueva Reserva': 'Editar Reserva'" [(visible)]="showModal" [modal]="true" [style]="{ width: '40vw', padding: '0px' }" [draggable]="false"
  [resizable]="false">
  <form [formGroup]="reservaForm" class="grid w-full mt-2" errorTailor>
    <div class="w-full px-4">
      <div class="mt-2 w-full">
        <label for="customer" class="block mb-2">Cliente</label>
        <p-dropdown id="customer" formControlName="customer" [options]="clientes" optionLabel="firstName" styleClass="w-full" optionValue="id" [filter]="true" filterBy="identification,firstName"
          placeholder="Seleccione">
          <ng-template let-item pTemplate="selectedItem">
              <span>{{ item.identification }} {{ item.firstName }} {{ item.lastName }}</span>
          </ng-template>
          <ng-template let-item pTemplate="item">
            <span>{{ item.identification }} {{ item.firstName }} {{ item.lastName }}</span>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="mt-2 w-full">
        <label for="service" class="block mb-2">Servicio</label>
        <p-dropdown id="service" formControlName="service" [options]="servicios" optionLabel="name" styleClass="w-full" optionValue="id" [filter]="true" filterBy="name"
          placeholder="Seleccione">
        </p-dropdown>
      </div>
      <div class="mt-2 w-full">
        <label for="starDate" class="block mb-2">Fecha Inicio Reserva</label>
        <p-calendar formControlName="starDate" styleClass="w-full" [showIcon]="true" dateFormat="dd/mm/yy" [readonlyInput]="true"></p-calendar>
      </div>
      <div class="mt-2 w-full">
        <label for="endDate" class="block mb-2">Fecha Fin Reserva</label>
        <p-calendar formControlName="endDate" styleClass="w-full" [showIcon]="true" dateFormat="dd/mm/yy" [readonlyInput]="true"></p-calendar>
      </div>
      <div class="mt-4 w-full text-center">
        <button class="btn-filtros px-4 py-2" [ngClass]="reservaForm.invalid ? 'opacity-60' : ''" (click)="saveReserva()" [disabled]="reservaForm.invalid"><span class="font-bold">{{ modo == 'CREAR' ? 'Registrar' : 'Actualizar' }}</span></button>
      </div>
    </div>
  </form>
</p-dialog>

<p-toast></p-toast>
<p-confirmDialog #cd [style]="{width: '30vw'}">
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-times" label="Cancelar" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="cd.accept()"></button>
</ng-template>
</p-confirmDialog>

